---
interface Props {
  label?: string;
}

const { label = 'TL;DR' } = Astro.props;
---

<aside class="tldr" aria-label={label}>
  <span class="tldr-chip">
    <svg
      class="tldr-chip-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="12"
      height="12"
      fill="none"
      stroke="currentColor"
      stroke-width="2.2"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-hidden="true"
    >
      <path d="M13 2 4 14h7l-1 8 9-12h-7z" />
    </svg>
    {label}
  </span>
  <div class="tldr-body">
    <slot />
  </div>
</aside>
